/***************************TAG SELECTORS***************************/
body{
  margin: 0;
}

h1{
  margin:0;
  margin: auto;
}

/***************************CLASS SELECTORS***************************/


/***************************ID SELECTORS***************************/
/*Used to style a single specific element in the webpage*/


/*  color pallet: https://colorhunt.co/palette/15133c73777bec994bf1eee9   */
